* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding-bottom: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(7, 41, 94), rgb(84, 151, 252), rgb(164, 195, 221));
    color: azure;
    font-family: 'Merriweather', serif;
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span {
    margin: 10px;
    font-size: 30px;
}
.degree-section h2 {
    font-size: 40px;
}

.link {
    color: darkblue;
}

footer {
    position: absolute;
    bottom: 0;    
    /* padding-bottom: 1rem; */
    font-size: 12px;
}

@media screen and (max-width: 480px) {
    .location {
        align-content: center;
        flex-direction: column;        
    }
}

@media screen and (max-width: 780px) {
    .location {
        align-content: center;
        flex-direction: column;        
    }
}